body {
	background-color: $forestGreen;
}

.header-title,
#title {
	color: $lightGray;
}

.about {
	color: $white;
}

.fa {
	color: $white;
}

.quiz-contents {
	background-color: $white;
	border: 4px solid $lightGray;
}

.feedback-header {
	color: $gray;
}

.question {
	color: $forestGreen;
}

.circles {
	background-color: $circles; 
}

.active {
		background-color: $red;
	}
