




img {
	width: 100%;
}

.quiz-wrapper {
	display:none;
}

.fa {
	padding-top: 2px;
	
}

/*iPhone portrait*/

@media only screen and (min-width: 320px) {
 

	
	/*********************
    Main Introduction Styles
	***********************/
	.main-img{
		height: 20rem;
		background-image: url("../images/main.jpg");
		background-repeat: no-repeat;
		background-position: center top;
		overflow: hidden;
	}

	
	.about {
		padding-left: 10px;
		padding-right: 10px;
		font-size: 18px;
		line-height: 30px;
		margin-top: 20px;
		letter-spacing: 0.10em;
	}

	/*********************
    Game Content
	***********************/

	.quiz-contents {
		margin-top: 20px;
		width: 100%;
		height: 300px;
	}

	.feedback-header {
		margin-top: 60px;
		font-size: 24px;
	}
	
	.question {
		margin-top: 20px;
		font-size: 18px;
	}

	.circles {
		margin-top: 30px;
		margin-right: 10px;
		width: 22px; 
		height: 22px; 
		display: inline-block;
		-moz-border-radius: 50px; 
		-webkit-border-radius: 50px; 
		border-radius: 50px; 
	}
}


/*iPhone landscape*/

@media only screen and (min-width: 480px) {
    

	.quiz-contents {
    	width: 85%;
    	margin-left: auto;
    	margin-right: auto; 
    	display: block;
    	position: relative;
    }
	
	.feedback-header {
		margin-top: 60px;
		font-size: 28px;
	}

	.question {
		font-size: 20px;
	}

	.grace-img {
		height: 25rem;
		width: 75%;
		background-image: url("../images/grace-350px.png");
		background-repeat: no-repeat;
		position: absolute;
		bottom: -20px;
		left: -130px; 
	}

	.frankie-img {
		margin-right: 20px;
		height: 25rem;
		width: 55%;
		background-image: url("../images/frankie-350px.png");
		background-repeat: no-repeat;
		position: absolute;
		top: 360px; 
		right: -70px; 
	}

}


/*ipad potrait*/

@media only screen and (min-width: 768px) {
 

    .about {
    	font-size: 20px;
    }

    .quiz-contents {
    	width: 75%;
    }

	.feedback-header {
		font-size: 32px;
	}

	.question {
		font-size: 22px;
	}

	.grace-img {
		margin-left: 100px;
		left: -100px;
	}

	.frankie-img {
		margin-right: 20px;
		right: -120px;
	}
}


/*ipad lanscape / small laptop*/

@media only screen and (min-width: 1024px) {
 

    .quiz-contents {
    	width: 55%;
    }

	.grace-img {
		margin-left: 200px;
	}
	
	.frankie-img {
		margin-right: 50px;
		right: -220px;

	}
}
