$brand-color: #192c30;
$lightGray: #bdccd4;
$gray: #808080;
$circles-color: #6a898c;
$accent-color: #c30f1a;
$white: #fff;


/*
@font-face {
    font-family: 'Ikaros', sans-serif;
    src: url('../../../fonts/Ikaros-Regular.otf');
    src: url('../../fonts/Ikaros-Regular.otf') format('embedded-opentype');
}
*/