.button {
	width: 150px;
	margin-top: 20px;
	padding: 8px;
	border-radius: 12px;
	font-size: 20px;
	letter-spacing: 0.10em;
	color: #fff;
}


/*********************
Main Introduction Styles
***********************/

.start-btn,
#reset {
	margin-top: 30px;
	background-color: #c30f1a;
}